@font-face {
    font-family: 'bd_cartoon_shoutregular';
    src: url('/mod/millionnaire/fonts/bd_cartoon_shout-webfont.eot');
    src: url('/mod/millionnaire/fonts/bd_cartoon_shout-webfont.eot?#iefix') format('embedded-opentype'),
         url('/mod/millionnaire/fonts/bd_cartoon_shout-webfont.woff2') format('woff2'),
         url('/mod/millionnaire/fonts/bd_cartoon_shout-webfont.woff') format('woff'),
         url('/mod/millionnaire/fonts/bd_cartoon_shout-webfont.svg#bd_cartoon_shoutregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.mod-indent-outer {
    display: block;
}
.game_box {
    position:relative;
    width:100%;
}
/*.game_box:before {
    content: "";
    display: block;
    padding-top: 50%;
}*/


.lost, .won, .points{
    z-index:1000;
    display: none;
    position:absolute;
    text-align:center;
    width:100%;
    /*height:510px;*/
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.8);
    z-index:100;
}
.won {
  background-color: white;
}
.lost div, .won div{
    font-family: bd_cartoon_shoutregular, yanone_thin, Arial;
    font-size: 2em;
    display:table-cell;
    vertical-align: middle;
    color:white;
}
.won div{
  color: black;
}
.game {
    position : relative;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    display:block;
    border:0px solid black;
    margin:0px auto;
    background-color:#47A3DA;
  background-color: white;
 /*   background:url(/mod/millionnaire/pix/back.jpg) no-repeat scroll center center / 100% 100% transparent;*/
}
.flexcontainer {
 display:flex;
 flex-wrap:wrap;
}
.frage {
    border-radius: 0px;
    border: 0px solid #FFF;
    background-color: #A8C131;
    background-color: #ecc134;
    padding: 30px;
    position: relative;
    font-size: 1.25em;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: Arial;
    flex:100%;
  margin:0px;
}

.frage_answer{
    border: 0px solid #FFF;
    text-align:left;
    flex:35%;
    margin:10px;
    background-color: #47A3DA;
    color : white;
}

.frage_answer:hover{
    background-color: #4290BE;
    cursor:pointer;
}

.frageInner {
    width: 100%;
    height: 100%;
}
.millionnairetitle {
  position:relative;
  text-align:center;
  padding:0px;
  background-color: #A8C131;
  color: white;
  z-index:10;
  padding:20px;
}
.millionnairetitle h2{
  color: black;
}
.hideheader {
  display:none;
}

@media screen and (max-width: 650px) {
  .question_flex{
    flex:100%;
    align-content:center;
  }
  .question_flex_div{
    background-color:#4290BE;
    width:100%;
    padding:10px;
    margin:0 auto;
  }
  .items_flex{
    flex:100%;
    align-self:stretch;
    display:flex;
    justify-content:center;
  }
  .items_flex_div{
    text-align:left;
    align-items:center;
    background-color:#47A3DA;
    padding:00px;
    color:white;
    margin:00px;
    width:100%;
    display:flex;
    justify-content:center;
  }
}

@media screen and (max-width: 1080px) and (min-width: 650px){
  .question_flex{
    flex:60%;
    align-content:center;
  }
  .question_flex_div{
    background-color:#47A3DA;
    width:90%;
    padding:10px;
    margin:0 auto;
  }
  .items_flex{
    flex:40%;
    align-self:stretch;
    display:flex;
    justify-content:center;
  }
  .items_flex_div{
    text-align:left;
    align-items:center;
    background-color:#47A3DA;
    padding:10px;
    color:white;
    margin:10px;
    width:100%;
    display:flex;
    justify-content:center;
  }

}
@media screen and (min-width: 1080px) {
  .question_flex{
    flex:60%;
    align-content:center;
  }
  .question_flex_div{
    background-color:#47A3DA;
    width:50%;
    padding:10px;
    margin:0 auto;
  }

  .items_flex{
    flex:40%;
    align-self:stretch;
    display:flex;
    justify-content:center;
  }
  .items_flex_div{
    text-align:left;
    align-items:center;
    background-color:#47A3DA;
    padding:10px;
    color:white;
    margin:10px;
    width:100%;
    display:flex;
    justify-content:center;
  }

}
.points {
  background-color:white;
}
