<link rel="stylesheet" type="text/css" href="/mod/millionnaire/css/style.css"/>
<header class="millionnairetitle <?php echo $hideheader; ?>">
  <h2><?php echo $title; ?></h2>
  <h4><?php echo $desc; ?></h4>
  <div class="corner"></div>
</header>
<div class="game_box">
  <div id='<?php echo $gameid; ?>' class='game'>
    <div class="points" id="<?php echo $gameid; ?>_points" style="display:block;">
      <div style="display:flex;align-items:center;height:100%;justify-content:center;flex-wrap:wrap;">
        <div class='question_flex'>
          <div class='question_flex_div'>
            <h2 id='<?php echo $gameid; ?>_questionmark' style='color:white;'>Question 1</h2>
          </div>
        </div>
        <div class='items_flex'>
          <div class='items_flex_div' style="">
            <ul style="list-style-type:none;font-size:1.2em;">
              <li id='<?php echo $gameid; ?>_q5_points' style='padding:5px;'>6. 1000000 points</li>
              <li id='<?php echo $gameid; ?>_q4_points' style='padding:5px;'>5. 250000 points</li>
              <li id='<?php echo $gameid; ?>_q3_points' style='padding:5px;'>4. 50000 points</li>
              <li id='<?php echo $gameid; ?>_q2_points' style='padding:5px;'>3. 10000 points</li>
              <li id='<?php echo $gameid; ?>_q1_points' style='padding:5px;'>2. 1000 points</li>
              <li id='<?php echo $gameid; ?>_q0_points' style='padding:5px;'>1. 500 points</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="lost" id="<?php echo $gameid; ?>_lost">
      <div style="display:table-cell">
        <p>Perdu !</p>
        <p>
          <a href='#' id="<?php echo $gameid; ?>_reload">
          <img src="/mod/millionnaire/pix/redo.png" alt="recharger ?" title="relancer ?">
          </a>
          <?php echo $maplogo; ?>
        </p>
      </div>
    </div>
    <div class="won" id="<?php echo $gameid; ?>_won"></div>
  </div>
</div>
<script>

  /*
   *
   *
   *
   */
  var show_points = function(index) {
    document.getElementById("<?php echo $gameid; ?>_points").setAttribute("style", "display:block");
    var el = document.getElementById(index + "_points")
    var maxdelay = 300*7
    for (var i = 0;i <= maxdelay;i += 300) {
      if (i%200 != 0) {
        setTimeout(function(){el.style.backgroundColor = "#4290BE";},i)
      }
      else {
        setTimeout(function(){el.style.backgroundColor = "#47A3DA";},i)
      }
    }
    setTimeout(function(){
      document.getElementById("<?php echo $gameid; ?>_points").setAttribute("style", "display:none");},maxdelay + 1500
    )
  }

  /*
   *
   *
   *
   */
  var success_bg = function(el) {
    setTimeout(function(){el.style.backgroundColor = "blue";},100);
    setTimeout(function(){el.style.backgroundColor = "#A8C131";},200);
    setTimeout(function(){el.style.backgroundColor = "blue";},300);
    setTimeout(function(){el.style.backgroundColor = "#A8C131";},400);
  }

  /*
   *
   *
   *
   */
  var good_func = function(el) {
    success_bg(el);
    setTimeout(function(){
      var next = el.parentNode.getAttribute("data-next");
      if (next != "end") {
        show_points(next)
        document.getElementById(next).setAttribute('style', 'display:flex');
        el.parentNode.setAttribute('style', 'display:none');
        var questionmark = el.parentNode.getAttribute("data-questionmark")
        document.getElementById('<?php echo $gameid; ?>_questionmark').innerHTML = questionmark
      }
      else {
        // send XMLHTTPRequest to mod_millionnaire to record the success
        var xhReq = new XMLHttpRequest();
        xhReq.open("GET", "/mod/millionnaire/validate.ajax.php?mid=<?php echo $millionnaire->id; ?>&attempts="+attempts+"&sesskey=<?php echo $USER->sesskey; ?>", false);
        xhReq.send(null);

        xhReq.open("GET", "/mod/millionnaire/getnextmodule.ajax.php?millionnaireid=<?php echo $millionnaire->id; ?>&sesskey=<?php echo $USER->sesskey; ?>", false);
        xhReq.onreadystatechange = function () {
          if(xhReq.readyState === XMLHttpRequest.DONE && xhReq.status === 200) {
            var response = JSON.parse(xhReq.response)
            var won = document.getElementById(gameid + "_won");
            won.setAttribute("style", "display:table;height:" + game.offsetHeight + "px");
            var subFinal = document.createElement("div");
            subFinal.setAttribute("style", "display:table-cell;");
            won.appendChild(subFinal);
            var text = document.createElement("h2");
            text.setAttribute("style", "color: black;");
            text.innerHTML = "Activité terminée";
            subFinal.appendChild(text);
            var buttons = document.createElement("div");
            buttons.setAttribute("style", "display:block;margin:0 auto;");
            buttons.innerHTML = "<?php echo $maplogo; ?>" + response.contents
            subFinal.appendChild(buttons);
          }
        };
        xhReq.send(null);

      }
    }, 1000);
  }
  /*
   *
   *
   *
   */
  var bad_func = function() {
    var el = this;
      setTimeout(function(){el.style.backgroundColor = "blue";},100);
      setTimeout(function(){el.style.backgroundColor = "red";},200);
      setTimeout(function(){el.style.backgroundColor = "blue";},300);
      setTimeout(function(){el.style.backgroundColor = "red";},400);
    var goodanswer = document.getElementById(this.getAttribute("data-good"));
    success_bg(goodanswer);
    setTimeout(function(){
      var lost = document.getElementById(gameid + "_lost");
      lost.setAttribute("style", "display:table;height:" + game.offsetHeight + "px");
    }, 500);
  }
  /*
   *
   *
   *
   */
  var shuffleArray = function(tab) {
    for (var i = tab.length - 1; i > 0; i--) {
      var j = Math.floor(Math.random() * (i + 1));
      var temp = tab[i];
      tab[i] = tab[j];
      tab[j] = temp;
    }
    return tab;
  }

  var attempts = 0;

  /*
   *
   *
   *
   */
  var init = function(questions, game) {
    attempts++;
    for (var k=0;k < questions.length;k++) {
      questions[k].answers = shuffleArray(questions[k].answers);
      if (document.getElementById(gameid + "_q" + k) == null) {
        var q1 = document.createElement("div");
        q1.setAttribute("id", gameid + "_q" + k);
        game.appendChild(q1);
      }
      else {
        var q1 = document.getElementById(gameid + "_q" + k);
        while (q1.firstChild) {
          q1.removeChild(q1.firstChild);
        }
      }
      q1.setAttribute("class", "flexcontainer");
      if (k != questions.length -1) {
        q1.setAttribute("data-next", gameid + "_q" + (k+1));
      }
      else {
        q1.setAttribute("data-next", "end");
      }
      q1.setAttribute("data-questionmark", "Question " + (k+2));
      if (k != 0) {
        q1.setAttribute("style", "display:none")
      }
      else {
        q1.setAttribute("style", "display:flex")
      }
      var text = document.createElement("div")
      text.setAttribute("class", "frage")
      text.innerHTML = "<div class='frageInner'>"+questions[k].text+"</div>"
      q1.appendChild(text);
      var prefixes = ["A ", "B ", "C ", "D "]
      for (var i=0;i < 4;i++) {
        var answer = document.createElement("div");
        answer.setAttribute("class", "frage frage_answer")
        answer.innerHTML = "<div class='frageInner'>" +
          "<span style='color:black;'>" + prefixes[i] +
          "</span>" +
          questions[k].answers[i].text +
          "</div>";
        if (questions[k].answers[i].type == "good") {
          answer.addEventListener("click", function(){good_func(this)}, false);
          answer.setAttribute("id", gameid + "_good" + k);
        }
        else {
          answer.addEventListener("click", bad_func, false);
          answer.setAttribute("data-good", gameid + "_good" + k);
        }
        q1.appendChild(answer);
      }
    }
    document.getElementById('<?php echo $gameid; ?>_questionmark').innerHTML = "Question 1"
    for (var i=0;i<6;i++) {
      var el = document.getElementById('<?php echo $gameid; ?>_q' + i + "_points")
      el.style.backgroundColor = "#47A3DA";
    }
    show_points("<?php echo $gameid; ?>_q0")
  }
  /*
   *
   *  GAME CREATION
   *
   */
  var gameid = "<?php echo $gameid; ?>";
  var game = document.getElementById(gameid);
  var questions = <?php echo $questions_json; ?>;
  init(questions, game);
  var reload = document.getElementById(gameid + "_reload");
  reload.addEventListener("click", function(e){
    e.preventDefault();
    (function(questions){
      init(questions, game);
    }(questions));
    document.getElementById(gameid + "_lost").setAttribute("style", "display:none");
  })

</script>
